	<div class="container_back"></div>
	<div class="container">
		<div class="main">
			<h1>Miz.ly</h1>
			<h4>Shorten and track your URL anytime anywhere.</h4>
			<div class="partial_form_dynamic">
				<%= render 'form', :url => @url %>
			</div>
		</div>

		<div class="partial_dynamic">
			<%= render 'list', :urls => @urls, :shortenURL => @shortenURL %>
		</div>
	</div>

	

	